<h2 class="mat-display-1">Post component</h2>

<div class="post" *ngIf="post$ | async; let post; else loading">
  <h2 class="mat-h2">{{ post.title | capitalize }}</h2>
  <div>{{ post.body | capitalize }}</div>
  <a [routerLink]="['/users', post.userId]">User ID: {{ post.userId }}</a>
</div>

<h2 class="mat-h2">Comments</h2>
<div class="comments" *ngIf="comments$ | async; let comments; else loading">
<ul>
  <li *ngFor="let comment of comments">
    {{ comment.body }}
  </li>
</ul>
</div>

<ng-template #loading>Loading...</ng-template>