<h2>Todos component</h2>

<mat-form-field>
  <input matInput placeholder="Todo" (keyup.enter)="addTodo(inputTodo)" #inputTodo>
</mat-form-field>
<button mat-stroked-button color="primary" (click)="addTodo(inputTodo)">Add</button>
<button mat-stroked-button color="warn" (click)="deleteAll()">Delete All</button>

<mat-list>
  <mat-list-item class="todo" *ngFor="let todo of todos">
    <mat-checkbox [(ngModel)]="todo.completed">{{ todo.title }}</mat-checkbox>
    <button mat-stroked-button color="warn" (click)="delete(todo)">Delete</button>
  </mat-list-item>
</mat-list>