<h2>User component</h2>
<div class="user" *ngIf="(user$ | async); let user; else loading">
  <h4>{{ user.name }}</h4>
  <ul>
    <li><span>City:</span> {{ user.address.city }}</li>
    <li><span>Company:</span> {{ user.company.name }}</li>
    <li><span>Email:</span> {{ user.email }}</li>
    <li><span>Phone:</span> {{ user.phone }}</li>
    <li><span>Username:</span> {{ user.username }}</li>
    <li><span>Web:</span> {{ user.website }}</li>
  </ul>
</div>

<ng-template #loading>Loading...</ng-template>