<h2>Comments component</h2>

<ul class="posts">
  <li class="post" *ngFor="let post of posts">
    <h3 class="post__title" [routerLink]="['/posts', post.id]">
      Post {{ post.id }}.  {{ post.title | titlecase }} 
    </h3>
    <div class="post__body">{{ post.body }}</div>
    <ul class="comments">
      <li class="separator">Comments</li>
      <li class="comment" *ngFor="let comment of comments; index as i">
        <div *ngIf="comment.postId === post.id">
          <div class="comment__title">
            {{ i + 1 }} {{ comment.name }} by
            <span *ngFor="let user of users">
              <span *ngIf=" user.id === post.userId">
                {{ user.name }}
              </span>
            </span>
          </div>
          <div class="comment__body">{{ comment.body }}</div>
        </div>
      </li>
    </ul>
  </li>
</ul>
