ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts {
  margin-top: 32px;
}

.post {
  margin-bottom: 72px;
}
/* 
.post::after {
  display: block;
  content: '';
  width: 100%;
  margin-top: 18px;
  border-bottom: 1px solid #ccc;
} */

.post__title {
  margin-bottom: 8px;
}

.post__title:hover {
  cursor: pointer;
}

.separator {
  font-weight: bold;
}

.comments {
  line-height: 1.3;
  margin-top: 24px;
  margin-left: 32px;
}

.comment__title {
  margin-top: 12px;
  font-weight: bold;
}