ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}

li {
   box-sizing: border-box;
   border: 1px solid #ccc;
   flex-grow: 1;
}

.card {
   cursor: pointer;
   padding: .5em;
}