<h1 class="mat-display-1">Users component</h1>

<mat-form-field>
  <input matInput placeholder="Name" [(ngModel)]="nameOrUsername" (ngModelChange)="filterByNameOrUsername()">
</mat-form-field>

<div *ngIf="filteredUsers">
  <app-table [data]="filteredUsers"></app-table>
</div>

<table mat-table [dataSource]="filteredUsers" class="mat-elevation-z2">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name. </th>
    <td mat-cell *matCellDef="let userA"> {{userA.name}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username. </th>
    <td mat-cell *matCellDef="let userA"> {{userA.username}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email. </th>
    <td mat-cell *matCellDef="let userA"> {{userA.email}} </td>
  </ng-container>

  <ng-container matColumnDef="address.city">
    <th mat-header-cell *matHeaderCellDef> City. </th>
    <td mat-cell *matCellDef="let userA"> {{userA.address.city}} </td>
  </ng-container>

  <ng-container matColumnDef="company.name">
    <th mat-header-cell *matHeaderCellDef> Company. </th>
    <td mat-cell *matCellDef="let userA"> {{userA.company.name}} </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [routerLink]="['/users', row.id]" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>