<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="users" mat-button >Users</a>
    <a routerLink="posts" mat-button>Posts</a>
    <a routerLink="comments" mat-button>Comments</a>
    <a routerLink="albums" mat-button>Albums</a>
    <a routerLink="photos" mat-button>Photos</a>
    <a routerLink="todos" mat-button>Todos</a>
    <a routerLink="height" mat-button>Heigh = Width</a>
  </mat-toolbar-row>
</mat-toolbar>

<div style="margin: 24px">
  <router-outlet></router-outlet>
</div>