.hover-control {
   width: 300px;
   height: 40px;
}

.volume { background-image: linear-gradient(to right, yellow, orange) }
.speed { background-image: linear-gradient(to right, cyan, blue) }

.button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid #333;
   box-shadow: 0 0 2px 1px #666;
   background: transparent;
   font-size: 20px;
}