<audio 
  id="audio"
  autoplay
  [volume]="volume"
  [playbackRate]="speed"
  [muted]="muted"
  src="https://p.scdn.co/mp3-preview/75dec79755b05d3a106e7d828ce5423cbd9e7208?cid=92ed57a15a9d488285f45b9ef0c7714a">
</audio>
<label>
  {{ volume | number:'1.2-2' }}
  <input type="range" min="0" max="1" step="0.01" [(ngModel)]="volume"/>
</label>

<label>
  {{ speed | number:'1.2-2' }}
  <input type="range" min="0.5" max="1.5" step="0.01" [(ngModel)]="speed"/>
</label>

<label onmousedown="return false;">
  Mute
  <input type="checkbox" [(ngModel)]="muted">
</label>

<div class="hover-control volume" (mousemove)="handleVolume($event)"></div>
<div class="hover-control speed" (mousemove)="handleSpeed($event)"></div>

<div class="volume__controls">
  <button class="button" (click)="handleClickVolume('+')">+</button>
  <button class="button" (click)="handleClickVolume('-')">-</button>
</div>