table {
   /* border-collapse: collapse; */
}

th { text-align: left; }
th, tr:nth-child(even) { background: #ddd; }
tr:nth-child(odd) { background: #fff; }
td, th { padding: .5em; }

tr:hover {
   cursor: pointer;
   background: #333;
   color: #fff;
}

a {
   text-decoration: none;
}