.table { border-collapse: collapse; font-weight: lighter; }
.th { text-align: left; font-weight: bolder; }
.td, .th { padding: .5em; }
.even { background: #ccc; }
.odd { background: #eee; }

.tr:hover {
   cursor: pointer;
   background: #333;
   color: #fff;
}

a {
   text-decoration: none;
}