<h2>Post component</h2>

<div class="post" *ngIf="post$ | async; let post; else loading">
  <h4 class="post__title">{{ post.title }}</h4>
  <div class="post__body">{{ post.body }}</div>
  <a class="post__user" [routerLink]="['/users', post.userId]">User ID: {{ (post$ | async)?.userId }}</a>
</div>

<div class="comments" *ngIf="comments$ | async; let comments; else loading">
<ul>
  <li *ngFor="let comment of comments">
    {{ comment.body }}
  </li>
</ul>
</div>

<ng-template #loading>Loading...</ng-template>